################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Backup/obj/Debug
*.suo
*.user
_ReSharper.*
bin
obj
packages